{% extends "base.html" %}

{% block content %}
    <div>
        <h2 class="tc black"> My QuestionboX</h2>
    </div>

    <p class="tr mr6"><a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green" href="{% url 'create_question' %}">Ask a Question</a></p>


    <h3 class="black mb3 mt1 ml6">My Questions:</h3>

            {% for question in questions %}
                <div class="w-50-m ml6 mr6 mb3 bg-washed-yellow pa1 outline shadow-2">
                    <a class="black f4" href = "{% url 'show_question' question_pk=question.pk %}">{{ question.title }}</a>
                    <p class="mt1">{{ question.date }}</p>
                    <p>{{ question.body }}</p>
                    {% if question.num_answers %}
                        <p class="dark-blue"><strong>Answers: {{ question.num_answers }}</strong></p>
                    {% endif %}
                </div>
            {% endfor %}

    <h3 class="black mb3 mt1 ml6">Questions I have answered:</h3>

            {% for answer in answers %}
                <div class="w-50-m ml6 mr6 mb3 bg-washed-yellow pa1 outline shadow-2">
                    <a class="black f4" href = "{% url 'show_question' question_pk=answer.question.pk %}">{{ answer.question.title }}</a>
                    <p class="mt2 mb0">Question from {{ answer.question.user.username }}</p>
                    <p class="mt0">{{ answer.date }}</p>
                    <p>{{ answer.question.body }}</p>
                </div>
            {% endfor %}


{% endblock %}