{% extends "base.html" %}

{% block content %}
    <div>
        <h2 class="tc dark-blue"> My QuestionBox</h2>
    </div>

    <p class="tr mr6"><a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green" href="{% url 'create_question' %}">Ask a Question</a></p>

    <div class="w-50-m ml6 mr6 mb3 bg-light-gray pa1 outline shadow-2">
        <h3 class="dark-blue mb1 mt1">My Questions:</h3>
    </div>
            {% for question in questions %}
                <div class="w-50-m ml6 mr6 mb3 bg-light-gray pa1 outline shadow-2">
                    <a class="darkblue f4" href = "{% url 'show_question' question_pk=question.pk %}">{{ question.title }}</a><p class="mt1">{{ question.date }}</p>
                    <p>{{ question.body }}</p>
                </div>
            {% endfor %}


{% endblock %}