{% extends "base.html" %}

{% block content %}

<h1 class="dark-blue ml6">Search Questions</h1>

<form class="ml6 mr6" action="{% url 'search_questions' %}" method="GET">
    <input type="search" name="q" placeholder="search questions" class="pa2 w-100" value="{{ request.GET.q }}">
    <p>
        <button type="submit">Search</button>
    </p>
</form>

{% if found_questions is not None %}

        <div class="w-50-m ml6 mr6 mb3 bg-light-gray pa1 outline shadow-2">
            <h3 class="dark-blue mt1 mb1">Search Results</h3>
        </div>
                {% for question in found_questions %}
                <div class="w-50-m ml6 mr6 mb3 bg-light-gray pa2 outline shadow-2">
                    <a href = "{% url 'show_question' question_pk=question.pk %}">{{ question.title }}</a>
                    <p class="mt1 mb1">Question from {{ question.user }}</p>
                    <p class="mt1 mb1">{{ question.date }}</p>
                </div>
                {% empty %}
                    <p class="mr4">There are no questions that match that query</p>
                {% endfor %}



{% endif %}

{% endblock %}