{% extends "base.html" %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}




<div class="w-50-m ml6 mr7 mb3 mt4 bg-washed-yellow pa1 outline shadow-2">
    <h2 class="black mb1">{{ question.title }}</h2>
    <p class="mt1">{{ question.date }}</p>
    <p> {{ question.body }} </p>
    {% if user.is_authenticated %}
        {% if request_user == question.user %}
                <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green" href="{% url 'edit_question' question_pk=question.pk %}">Edit Question</a>
        {% else %}
                <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green" href="{% url 'create_answer' question_pk=question.pk %}">Answer Question</a>
        {% endif %}
    {% endif %}
</div>
    {% if answers %}
        {% for answer in answers %}
        <div class="w-50-m ml7 mr6 mb3 bg-light-yellow pa2 outline shadow-2">
            <p><strong>Answer from {{ answer.author }} submitted on {{ answer.date }}:</strong></p>
            <p>{{ answer.text }}</p>
        </div>
        {% endfor %}
    {% endif %}


{% endblock %}